
<html>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
    <head>
        <meta charset="UTF-8"/>
        <title> Searched Products</title>

            {% block stylesheets %}
              <link href = "{{asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"/>
              <link href="{{ asset('css/fontawesome-free/css/all.min.css') }}" rel="stylesheet">
              <link href="{{ asset('css/style1.css') }}" rel="stylesheet">

            {% endblock %}
   
 
    </head>

  <body>

  <header>
        <div class="topnav">
            <a class="active" href="{{ path('get_subscription_form') }}">Home</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </header>


      <div class = "cart">
        <div class="icon">
              <div class = "cartquantity">
                  <span id="cart-size" style = "color:black">{{ productqty }}</span>
                </div>
            <a  href="{{path('cart') }}"> 
              <i class="fas fa-shopping-cart" style = "color:black"></i>
            </a>
        </div>                   
        </div>


    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            setInterval(function () {
                
                $.ajax({
                    method:"GET",
                    url:'http://localhost:8000/get-product-quantity-in-cart'
                })
                //if it works
                .done(function(msg){
                    $('#cart-size').html(msg);
                });
                /*.fail(function(msg){
                    alert("No product(s) added" + msg);
                })*/

                
            }, 1000);
                  
        });
    </script> 


    <br>

    <section style="max-width: 992px;margin: auto";>
      {% for product in products %}

        <div class = "product_container" style="margin-top: 50px;">
          <div class="product_image">
            <img  src="{{asset(product.image) }}"/>
          </div>

          <div>
            <div class = "big_details">   
              <div class= "details">                    
                <div>
                  <h4>{{ product.name }} </h4>
                </div>
              </div>

              <div class = "description">
                <span>{{ product.description}}</span>
              </div>          
              <br>
              <b>{{ product.price }} FCFA</b>
              <br>

              <div class="quantity">
                <form action="{{path('cart_add', {'id': product.id })}}" method="POST">
                  <label for="Quantity">Qty:</label>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1">
              
                  <br>
                  <div class="add_to_cart">
                    <button id="btncartadd" type="submit" data-id="{{ product.id }}">ADD</button>
                  </div>
                      
                </form>
              </div>
            </div>   
          </div>
        </div>

        
      {% endfor %}

      <section style="max-width: 992px;margin: auto";>
        {% for product in recommendedproducts %}

      <h3>Recommended Products</h3>

      <div class = "product_container" style="margin-top: 50px;">
        <div class="product_image">
          <img  src="{{asset(product.image) }}"/>
        </div>

        <div>
          <div class = "big_details">   
            <div class= "details">                    
              <div>
                <h4>{{ product.name }} </h4>
              </div>
            </div>

            <div class = "description">
              <span>{{ product.description}}</span>
            </div>          
            <br>
            <b>{{ product.price }} FCFA</b>
            <br>

            <div class="quantity">
              <form action="{{path('cart_add', {'id': product.id })}}" method="POST">
                <label for="Quantity">Qty:</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1">
            
                <br>
                <div class="add_to_cart">
                  <button id="btncartadd" type="submit" data-id="{{ product.id }}">ADD</button>
                </div>
                    
              </form>
            </div>
          </div>   
        </div>
      </div>


    <!-- Display other product details as needed -->
{% endfor %}



    <script src="{{asset('bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  </body>
</html>